html {
  background: #191919;
  color: #f8f8f2;
}  

body {
  font-size: 15px;
  line-height: 1.5;
	font-family: 'Droid Serif', Georgia, serif;
}

h1 {
  font-family: 'Vollkorn', Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 200%;
}

a {
    color: #2790B0;
    text-decoration: none;
}

a:visited {
    color: #2B4E72;
    text-decoration: none;
}

a:hover {
    color: #5FD7FF;
    text-decoration: none;
}

/* Div here the code goes */
div.highlight {
    background-color: #131313;
    color: #f8f8f2;
    padding: 0.5em;
    margin: 0.5em 0em 1em 0em;
    border: 1px dashed #808080;
    clear: both;
}

#main {
  width: 100%;
}

#header {
  text-align: center;
}

#content {
  width: 75%;
  min-width: 41em;
  min-height: 20em;
  float: left;
  padding: 30px;
  text-align: justify;
}
