<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="css/code.css" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <title>{{ page.title }} </title>
  </head>

  <body>
    <section id="main">

      <section id="header">
        <h1 class="header"> {{ page.title }} </h1>
        <h4 class="header"> World domination, with notes </h4>
      </section>

      <section id="content">
        <hr />
        {{ content }}
      </section>

      <section id="sidebar">
        <br />
        <h2> About me </h2>
        My name is Alfredo Palhares, born in 1990 on the beautiful town of Ponte de Lima, Portugal. I am interested in 
        Open Source in general since a very young age. 
        <h3> Contacts </h3>
        <b> Email: </b> masterkorp@masterkorp.net <br />
        <b> IRC: </b> masterkorp on <a href="http://freenode.net/\">freenode</a>
      </section>

    </section>
  </body>

</html>
